{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="container">
    {% bootstrap_messages %}

    {% if carros %}
        {% for carro in carros %}
        
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="{{carro.imagem.url}}" class="card-img-top" alt="carro_generico">
                    <div class="card-body">
                        <h5 class="card-title">Marca: {{carro.marca}}</h5>
                        <p class="card-text">Modelo: {{carro.modelo}}</p>
                        <p class="card-text">Ano: {{carro.ano}}</p>
                        <p class="card-text">Cor: {{carro.cor}}</p>
                        <p class="card-text">Quilometragem: {{carro.quilometragem}}</p>
                        <p class="card-text">Valor diário: {{carro.valor_diario}}</p>
                    </div>
                    <div style="margin-left: 120px;">
                        {% buttons %}
                           <a href="{% url 'carros:carro_form' carro.id %}"><button class="btn btn-primary" type="submit">Alugar</button></a>
                        {% endbuttons %}
                    </div>
                </div>  
            </div>
        </div>
        {% endfor %}

    {% else %}
        <li>Não há carros cadastrados no momento</li>
    {% endif %}
</div>

{% endblock %}
